services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./infra/mosquitto.conf:/mosquitto/config/mosquitto.conf

  simulator:
    build: ./simulator
    container_name: simulator
    env_file:
      - ./simulator/.env
    depends_on:
      - mosquitto